<p id="notice"><%= notice %></p>

<p>
  <strong>Circunscripcion:</strong>
  <%= @mesa.circunscripcion %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @mesa.nombre %>
</p>

<%= link_to 'Edit', edit_mesa_path(@mesa) %> |
<%= link_to 'Back', mesas_path %>
